body {
    height: 100%;
}

.app-class {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
}
.row-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap : 10px;
}

.wrapper {
    overflow: hidden;
    height: 0;
    padding: 50% 0;
    /* padding controls height, will always be perfectly square regardless of width */
    position: relative;
   

    /* margin: 0.2rem; */
}

.img {
    min-width: 50%;
    min-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
   
  }

  